useDynLib("FLBRP")
import("reshape")	
import("FLCore")	
import("ggplotFL")
importFrom("methods",
  "as",
  "callNextMethod",
  "getSlots",
  "is",
  "new",
  "slot",
  "slot<-",
  "validObject")
importFrom("graphics",
  "lines", 
  "par", 
  "points", 
  "polygon")
importFrom("stats",
  "acf",
  "coefficients",
  "fft",
  "formula",
  "hat",
  "lm",
  "optimise",
  "qqnorm",
  "rstandard",
  "runif", 
  "spline")
importFrom("FLash",
  "fwd")
importFrom("utils",
  "read.csv",
  "unstack")
importFrom("plyr",
	"ddply",
	"dlply",
	"ldply",
	"llply",
	"maply",
	"mdply",	
	"mlply")
exportClasses(
  "FLBRP",
  "FLBRPs")
export(
  "noise",
  "spectra",
  "lh",
  "gislasim",
  "aav",
  "antiCurve",
  "beer",
  "biOrder",
  "calcR",
  "shepherdCovB",
  "OEMStock",
  "OEMSurvey",
  "OEMCpue",
  "misAgeing",
  "biasLinear",
  "vpaMP",
  "hcr",
  "runMSE",
  "plotCatches",
  "doIt")
exportMethods(
	"kobe",
  "simAR",
  "Arith",
  "fwd",
  "fwdWindow",
  "window",
  "FLBRP",
	"FLBRPs",
	"model",
	"model<-",
	"params",
	"params<-",
	"fbar",
	"fbar<-",
	"fbar.obs",
	"fbar.obs<-",
	"landings.obs",
	"landings.obs<-",
	"discards.obs",
	"discards.obs<-",
  "refpts",
	"rec.obs",
	"rec.obs<-",
	"recycle6d<-",
	"ssb.obs",
	"ssb.obs<-",
	"profit.obs",
	"profit.obs<-",
#	"revenue.obs",
#	"revenue.obs<-",
	"landings.sel",
	"landings.sel<-",
	"discards.sel",
	"discards.sel<-",
	"bycatch.harvest",
	"bycatch.harvest<-",
	"stock.wt",
	"stock.wt<-",       
	"landings.wt",
	"landings.wt<-",
	"discards.wt",
	"discards.wt<-",
	"bycatch.wt",
	"bycatch.wt<-",
	"m",
	"m<-",
	"mat",
	"mat<-",
	"harvest.spwn",
	"harvest.spwn<-",
	"m.spwn",
	"m.spwn<-",
	"availability",
	"availability<-",
	"price",
	"price<-",
	"vcost",
	"vcost<-",
	"fcost",
	"fcost<-",
  "setPlusGroup",
  "coerce",
  "as.data.frame",
  "refpts",
  "refpts<-",
  "show",
  "msy",
  "msyRange",
  "spr",
  "spr0",
#  "ages",
#  "len2wt",
#  "wt2len",
  "mnSwt",
  "mnCwt",
  "mnLwt",
  "mnLen",
  "wt2z",
  "ln2z",
  "plot",
  "recycle6d<-",
  "coerce",
  "landings.n",
  "discards.n",
  "stock.n",
  "catch.n",
  "catch.wt",
  "catch.sel",
  "catch.obs",
  "biomass.obs",
  "yield.obs",
  "computeFbar",
  "rec",
  "rec.hat",
  "harvest",
  "ypr",
  "computeRefpts",
  "brp",
  "hcrYield",
  "propagate",
  "iter",
  "catch",
  "catch.hat",
  "yield",
  "yield.hat",
  "discards",
  "discards.hat",
  "landings",
  "landings.hat",
  "stock",
  "stock.hat",
  "ssb",
  "ssb.hat",
  "revenue.hat",
  "revenue",
  "cost",
  "profit",
  "profit.hat",
  "r",
  "sp",
  "fwdWindow",
  "recycle6d<-",
  "window",
#  "dnormal",
  "mFn",
  "pa<-",
  "obs<-",
#  "vonB",
#  "logistic",
#  "invVonB",
  "leslie",
  "ep",
  "myers",
  "readSS3")
