useDynLib("FLBRP")

import("FLCore")	
import("ggplotFL")
importFrom("ggplot2",
  "aes_",
  "facet_wrap",
  "geom_line",
  "geom_point",
  "geom_segment",
  "geom_text",
  "labeller",
  "scale_fill_manual",
  "scale_shape_manual",
  "scale_x_continuous", 
  "xlab", 
  "ylab")
importFrom("stats",
  "ave",
  "setNames")
importFrom("methods",
  "as",
  "callNextMethod",
  "getSlots",
  "is",
  "new",
  "slot",
  "slot<-",
  "validObject")
importFrom("graphics",
  "lines", 
  "par", 
  "points", 
  "polygon")
importFrom("stats",
  "acf",
  "coefficients",
  "fft",
  "formula",
  "hat",
  "lm",
  "optimise",
  "qqnorm",
  "runif", 
  "spline")
importFrom("utils",
  "read.csv",
  "unstack")

exportClasses(
  "FLBRP",
  "FLBRPs")

exportMethods(
  "availability",
  "availability<-",
  "bycatch.harvest",
  "bycatch.harvest<-",
  "bycatch.wt",
  "bycatch.wt<-",
  "computeRefpts",
  "discards.obs",
  "discards.obs<-",
  "discards.sel",
  "discards.sel<-",
  "discards.wt",
  "discards.wt<-",
  "fbar",
  "fbar<-",
  "fbar.obs",
  "fbar.obs<-",
  "fcost",
  "fcost<-",
  "harvest.spwn",
  "harvest.spwn<-",
  "landings.obs",
  "landings.obs<-",
  "landings.sel",
  "landings.sel<-",
  "landings.wt",
  "landings.wt<-",
  "m",
  "m<-",
  "m.spwn",
  "m.spwn<-",
  "mat",
  "mat<-",
  "price",
  "price<-",
  "profit.obs",
  "profit.obs<-",
  "rec.obs",
  "rec.obs<-",
  "refpts",
  "refpts<-",
  "ssb.obs",
  "ssb.obs<-",
  "stock",
  "stock.obs",
  "stock.obs<-",
  "stock.wt",
  "stock.wt<-",
  "vcost",
  "vcost<-",
  "biomass.obs",
  "bmsy",
  "brp",
  "catch.n",
  "catch.obs",
  "catch.sel",
  "catch.wt",
  "coerce",
  "cost",
  "discards.n",
  "FLBRP",
  "fmsy",
  "fwdWindow",
  "landings.n",
  "msy",
  "msyRange",
  "plot",
  "profit",
  "propagate",
  "revenue",
  "sbmsy",
  "spr",
  "spr0",
  "ssb",
  "stock.n",
  "summary",
  "yield.obs",
  "ypr"
)
